/*
 * To customize to other logos, usually these are the attributes
 * that need to be changed.
 */
body {
  background: #27535C;
}
#logo-video img {
  margin: 140px 220px;
  width: 200px;
  height: 200px;
}



body {
  padding: 100px;
  color: #eee;
  font-size: 1em;
  line-height: 1.4;
}

table {
  width: 100%;
}

table td {
  width: 50%;
  text-align: center;
  vertical-align: top;
}

img {
  display: block;
  clear: both;
  margin: 20px 20px 100px 20px;
}

.animated {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
  animation-duration: 2s;
  animation-delay: 1s;
}

.mconf-ico {
  width: 200px;
  height: 200px;
}

.mconf-full-logo {
  width: 250px;
  height: 155px;
}

#logo-video {
  margin: 0 auto 100px auto;
  width: 640px;
  height: 480px;
  border: 1px solid #ddd;
  padding: 10px;
}

#mconf-logo1, #mconf-logo2, #mconf-logo3 {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 5s;
  animation-duration: 1s;
  animation-delay: 5s;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
